<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @civil_status.descripcion %>
</p>

<%= link_to 'Edit', edit_civil_status_path(@civil_status) %> |
<%= link_to 'Back', civil_statuses_path %>
