<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @contact_about.descripcion %>
</p>

<%= link_to 'Edit', edit_contact_about_path(@contact_about) %> |
<%= link_to 'Back', contact_abouts_path %>
