<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @type_reason.descripcion %>
</p>

<%= link_to 'Edit', edit_type_reason_path(@type_reason) %> |
<%= link_to 'Back', type_reasons_path %>
