<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @find_out.descripcion %>
</p>

<%= link_to 'Edit', edit_find_out_path(@find_out) %> |
<%= link_to 'Back', find_outs_path %>
