<p id="notice"><%= notice %></p>

<div class="col-md-10 col-md-offset-1 table-responsive col-sm-12 col-xs-12" >
     <div class="row header" style="background-color: #1f4bae;">
     <h1 class="center-align col-lg-12 text-center"><b> Reserva de Aulas y Laboratorios </b></h1>
     </div>

     <div class="row" style="margin-top: 5px"> 

             <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-6 first" >         
                      <div class="input-group2">
                      <label> Aula</label>
                      <br>
                      <br>
                      <select class="form-control" id="sel1">
                            <option>Seleccione</option>
                            <option>PG1</option>
                            <option>PG3</option>
                            <option>PG2</option>
                            <option>PG6</option>
                          </select>
                      </div>
                 </div>
             </div>


             <div class="form-group">
                       <div class="col-md-6 col-sm-6 col-xs-6">         
                            <div class="input-group2">
                            <label> Profesor</label>
                            <br>
                            <br>
                            <input class="form-control" type="text">
                            </div>
                       </div>
             </div>

             <div class="form-group">
                   <div class="col-md-12 col-sm-12 col-xs-12" >
                         
                         <div class="input-group2">
                         <label> Recursos</label>
                         <br>
                         <br>
                         <textarea class="form-control" rows="1"></textarea>
                         
                         
                         </div>
                   </div>
           </div>


      </div>
     


      <div class="row" style="margin-top: 0px; margin-bottom: : 50px"> 

             <div class="form-group">
             
                 <div class="col-md-6 col-sm-6 col-xs-6 first ">         
                      <div class="input-group2">

                      <label> Desde:</label>
                      <br>
                      <br>
                      <input class="form-control" name="offer[titulo]" id="offer_titulo" type="text">
                      </div>
                 </div>
             </div>

             <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-6">         
                      <div class="input-group2">
                      <label> Hasta:</label>
                      <br>
                      <br>
                      <input class="form-control" name="offer[titulo]" id="offer_titulo" type="text">
                      </div>
                 </div>
             </div>

             <div class="form-group">
                   <div class="col-md-12 col-sm-12 col-xs-12" >
                         <div class="input-group2 textarea">
                         <br>
                         <center>   
                         <button class="btn btn-success", style: "margin: 25px auto;">
                         <span class="fa fa-floppy-o"></span> Reservar</button>    
                         </center>
                         </div>
                   </div>
             </div>

     </div>


    
<br>
     <br>
        

 </div>