<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @classroom_laboratory.descripcion %>
</p>

<%= link_to 'Edit', edit_classroom_laboratory_path(@classroom_laboratory) %> |
<%= link_to 'Back', classroom_laboratories_path %>
