<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @type_req_resp.descripcion %>
</p>

<%= link_to 'Edit', edit_type_req_resp_path(@type_req_resp) %> |
<%= link_to 'Back', type_req_resps_path %>
