<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @type_poll.descripcion %>
</p>

<%= link_to 'Edit', edit_type_poll_path(@type_poll) %> |
<%= link_to 'Back', type_polls_path %>
