<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @type_request.descripcion %>
</p>

<%= link_to 'Edit', edit_type_request_path(@type_request) %> |
<%= link_to 'Back', type_requests_path %>
