

<p>
  <strong>Descripcion:</strong>
  <%= @objective.descripcion %>
</p>

<p>
  <strong>Postgraduate coordination:</strong>
  <%= @objective.postgraduate_coordination %>
</p>

<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
