<ul class="notificator">
    

  <div id="notificationContainer">
    <div id="notificationsBody" class="notifications">
     <div class="row header" style="background-color: #1f4bae; margin-bottom: 20px;">
     <h1 class="center-align col-lg-12 text-center"><b> Notificaciones </b></h1>
     </div>



      <ul id="notificationList">
        <%= render notifications %>
      </ul>
    </div>
    <div id="notificationFooter"></div>
  </div>
</ul>