<li class="notification_li">
  <div class = "notification_row"><h3><strong>Postgrado</strong> publicó:</h3><span>
  <b><%= notification.tittle %>:</b> <%= notification.event %></span></div>
  
  <div class = "notification_row_time"><%= l notification.created_at,format: :euro %></div>

</li>