

<p>
  <strong>Descripcion:</strong>
  <%= @type_subject.descripcion %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @type_subject.subject %>
</p>

<%= link_to 'Edit', edit_type_subject_path(@type_subject) %> |
<%= link_to 'Back', type_subjects_path %>
