<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @why_dcyt.descripcion %>
</p>

<%= link_to 'Edit', edit_why_dcyt_path(@why_dcyt) %> |
<%= link_to 'Back', why_dcyts_path %>
