<tr>
	<td><%= line_investigation.descripcion %></td>
	<td>
		<%= link_to edit_line_investigation_path(line_investigation, program_id: line_investigation.program),class: "btn btn-info" do %>
	      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>   
	    <% end %>
	</td>
</tr>