
<div class="form">


<div class="row header" style="background-color: #1f4bae">
<h1 class="center-align col-lg-12 text-center"><b> Configuración del sistema</b></h1>
</div>
<div class="row" style="margin-top: 30px">
 <div class="col-md-10 col-md-offset-1 table-responsive col-sm-12 col-xs-12" >
<table id="tabla_vp" class="table table-hover text-center">
<thead>
<tr>
<th class="text">Mostrar Notificaciones</th>
<th  class="text-center"colspan="2">Activar</th>
</tr>
</thead>
<tbody class="searchable">
<tr>
<td class="text-left">Notificaciones de la aplicación</td>

<td><%= link_to "",class: "btn btn-primary" do %>
<i class="fa fa-power-off" aria-hidden="true"></i>   
<% end %>
</td>



</tr>
<tr>
<td class="text-left">Notificaciones al correo</td>

<td><%= link_to "",class: "btn btn-primary" do %>
<i class="fa fa-power-off" aria-hidden="true"></i>   
<% end %>
</td>


</tr>
</tbody>
</table>
</div>



</div>




</div>


