<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @type_news.descripcion %>
</p>

<%= link_to 'Edit', edit_type_news_path(@type_news) %> |
<%= link_to 'Back', type_news_index_path %>
