<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @modality.descripcion %>
</p>

<%= link_to 'Edit', edit_modality_path(@modality) %> |
<%= link_to 'Back', modalities_path %>
