<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @type_opinion.descripcion %>
</p>

<%= link_to 'Edit', edit_type_opinion_path(@type_opinion) %> |
<%= link_to 'Back', type_opinions_path %>
