<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @regimen_study.descripcion %>
</p>

<%= link_to 'Edit', edit_regimen_study_path(@regimen_study) %> |
<%= link_to 'Back', regimen_studies_path %>
