
    <div class="row z-depth-2" style="margin-top:20px;">


    <div class="col-md-10 col-md-offset-1 table-responsive col-sm-12 col-xs-12" >
     <div class="row header" style="background-color: #1f4bae;">
     <h1 class="center-align col-lg-12 text-center"><b> Mi Proyecto </b></h1>
     </div>
     
          <% @projects = Project.where(user_id: current_user.id) %>

        <table id="tabla_vp" class="table table-hover text-center">
          <thead>
            <tr>
              <th class="text-center">Titulo</th>
              <th class="text-center">Linea de Investigación</th>
              <th class="text-center">Tutor</th>
              <th  class="text-center"colspan="3">Acción</th>
            </tr>
          </thead>
          <tbody class="searchable">
            <% @projects.each do |project| %>
              <tr>
                <td><%= project.titulo %></td>
                <td><%= project.line_investigation.descripcion%></td>
               
                <td>
                  <% tutor = User.find(project.tutor) %>
                  <%= tutor.nombre %>
               </td>



                <td><%= link_to project,class: "btn btn-primary" do %>
                      <i class="fa fa-search" aria-hidden="true"></i>
                    <% end %>
                </td>
                
                
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
   


<script type="text/javascript">
  $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        });
</script>
<style type="text/css">
  form{
    background-color:transparent !important; 
    box-shadow: none !important;
  }
</style>


