<p id="notice"><%= notice %></p>

<p>
  <strong>Type req resp:</strong>
  <%= @request_response.type_req_resp %>
</p>

<%= link_to 'Edit', edit_request_response_path(@request_response) %> |
<%= link_to 'Back', request_responses_path %>
