<tr>
	<td><%= graduate_profile.descripcion %></td>
	<td>
		<%= link_to edit_graduate_profile_path(graduate_profile),class: "btn btn-info" do %>
	      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>   
	    <% end %>
	</td>
</tr>