

<p>
  <strong>Descripcion:</strong>
  <%= @graduate_profile.descripcion %>
</p>

<%= link_to 'Edit', edit_graduate_profile_path(@graduate_profile) %> |
<%= link_to 'Back', graduate_profiles_path %>
