<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @type_review.descripcion %>
</p>

<%= link_to 'Edit', edit_type_review_path(@type_review) %> |
<%= link_to 'Back', type_reviews_path %>
