<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @type_certificate.descripcion %>
</p>

<%= link_to 'Edit', edit_type_certificate_path(@type_certificate) %> |
<%= link_to 'Back', type_certificates_path %>
