<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body >

<div style="font-size: 15px">
  Saludos estimado <%= @user.nombre %>.
  <p>
    Por medio de la presente se le notifica que se ha aperturado el programa:
  <p><b><%= @program.titulo%></b></p>.

  </p>
  <br>
  <p>
    Se le informa también que sus <b>credenciales</b> para acceder al sistema son:
  </p>
  <p>
  <p><b>Nombre de usuario: </b><%= @user.username %></p>
  <p><b>Contraseña: </b><%= @postulate.cedula%></p>
  </p>
  <p>
    Para mayor información visite nuestra página web.
  </p>

</div>
<br>
<br>
<br>

</body>
<footer>
  <div style="align-content: center; width: 50%; padding-left: 25%; text-align: center
  ;font-size: 20px">
    Coordinación de Postgrado - Decanato de Ciencia y Tecnología.
    Avenida Las Industrias. Núcleo Obelisco. Módulo D. Oficina D-8.
   <a href="http://postgrado.ucla.edu.ve/ciencias/">post_dct@ucla.edu.ve</a>  - 0251-2591712
  </div>
</footer>
</html>
