<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @type_contact.descripcion %>
</p>

<%= link_to 'Edit', edit_type_contact_path(@type_contact) %> |
<%= link_to 'Back', type_contacts_path %>
