<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <table id="tabla<%= regimen_duration.numero%>" class="table text-center table-inverse">
      <thead class="thead-inverse">
        <tr>
          <th class="text-center" height="">Materia</th>
        </tr>
      </thead>
      <tbody>
      <% cohort_program.cohort_periods.each do |cohort_period| %>
        <td>hola</td>
      <% end %>
      </tbody>
    </table>
  </div>
