<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @academic_degree.descripcion %>
</p>

<%= link_to 'Edit', edit_academic_degree_path(@academic_degree) %> |
<%= link_to 'Back', academic_degrees_path %>
