<h1>Editing Subject Regimen Duration</h1>

<%= render 'form', subject_regimen_duration: @subject_regimen_duration %>

<%= link_to 'Show', @subject_regimen_duration %> |
<%= link_to 'Back', subject_regimen_durations_path %>
