<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @day_week.descripcion %>
</p>

<%= link_to 'Edit', edit_day_week_path(@day_week) %> |
<%= link_to 'Back', day_weeks_path %>
