    <div class="row z-depth-2" style="margin-top:20px;">


    <div class="col-md-10 col-md-offset-1 table-responsive col-sm-12 col-xs-12" >
     <div class="row header" style="background-color: #1f4bae;">
     <h1 class="center-align col-lg-12 text-center"><b> Resultados </b></h1>
     </div>
     <div class="text-center">
    <%= link_to 'Registrar Resultados', new_sub_per_user_path, {class:"btn btn-success", style: "margin: 25px auto;" }%>
    </div>
        <table id="tabla_vp" class="table table-hover text-center">
          <thead>
            <tr>
              <th class="text-center">Participante</th>
              <th class="text-center">Cohorte</th>
              <th class="text-center">Periodo</th>
              <th class="text-center">Materia</th>
              <th class="text-center">Nota</th>
              <th colspan="3" class="text-center">Acción</th>
            </tr>
          </thead>
         
        </table>
      </div>
    </div>

<style type="text/css">
  form{
    background-color:transparent !important; 
    box-shadow: none !important;
  }
</style>
