<p id="notice"><%= notice %></p>

<div class="col-md-10 col-md-offset-1 table-responsive col-sm-12 col-xs-12" >
     <div class="row header" style="background-color: #1f4bae;">
     <h1 class="center-align col-lg-12 text-center"><b> Asignacion de Recursos </b></h1>
     </div>

       <div class="row" style="margin-top: 10px; margin-bottom: 20px;"> 


            <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-6 first">         
                   <div class="input-group2">
                        <label> Programa</label>
                        <br>
                        <br>
                        <select class="form-control" id="sel1">
                              <option>Seleccione</option>
                              <option>Ciencias de la Computacion</option>
                              <option>Gestion Empresarial</option>
                              <option>Redes</option>
                              <option>Sistemas de Informacion</option>
                            </select>
                   </div>
                 </div>
            </div>

            <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-6">         
                    <div class="input-group2">
                    <label> Cohorte</label>
                    <br>
                    <br>
                    <select class="form-control" id="sel1">
                          <option>Seleccione</option>
                          <option>POO</option>
                          <option>Gestion Empresarial</option>
                          <option>Redes</option>
                          <option>Sistemas de Informacion</option>
                        </select>
                     </div>
                  </div>
            </div>

            <div class="form-group">
                     <div class="col-md-6 col-sm-6 col-xs-6">         
                       <div class="input-group2">
                        <label> Periodo</label>
                        <br>
                        <br>
                        <select class="form-control" id="sel1">
                            <option>Seleccione</option>
                            <option>I</option>
                            <option>II</option>
                            <option>III</option>
                            <option>IV</option>
                          </select>
                       </div>
                     </div>
            </div>


            <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-6">         
                      <div class="input-group2">
                      <label> Materia</label>
                      <br>
                      <br>
                      <select class="form-control" id="sel1">
                            <option>Seleccione</option>
                            <option>POO</option>
                            <option>Gestion Empresarial</option>
                            <option>Redes</option>
                            <option>Sistemas de Informacion</option>
                          </select>
                      </div>
                 </div>
            </div>

            <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-6">         
                      <div class="input-group2">
                      <label> Aula</label>
                      <br>
                      <br>
                      <select class="form-control" id="sel1">
                            <option>Seleccione</option>
                            <option>PG1</option>
                            <option>PG3</option>
                            <option>PG2</option>
                            <option>PG6</option>
                          </select>
                      </div>
                 </div>
            </div>

            <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-6">         
                      <div class="input-group2">
                      <label> Profesor</label>
                      <br>
                      <br>
                      <input class="form-control" name="offer[titulo]" id="offer_titulo" type="text">
                      </div>
                 </div>
            </div>

           <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-6" >         
                       <div class="input-group2">
                          <label> Dia de la semana:</label>
                          <br>
                          <br> 
                      <select class="form-control" id="sel1">
                            <option>Seleccione</option>
                            <option>Lunes</option>
                            <option>Martes</option>
                            <option>Miercoles</option>
                            <option>Jueves</option>
                          </select>
                         </div>
                 </div>
             </div>

             <div class="form-group">
                 <div class="col-md-6 col-sm-6 col-xs-6" >         
                       <div class="input-group2">
                          <label> Bloque:</label>
                          <br>
                          <br> 
                      <select class="form-control" id="sel1">
                            <option>Seleccione</option>
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                            <option>D</option>
                          </select>
                         </div>
                 </div>
             </div>

             <div class="form-group">
                         <div class="col-md-6 col-sm-6 col-xs-6">         
                              <div class="input-group2">
                              <label> Desde:</label>
                              <br>
                              <br>
                              <input class="form-control" name="offer[titulo]" id="offer_titulo" type="text">
                              </div>
                         </div>
             </div>

            <div class="form-group">
                         <div class="col-md-6 col-sm-6 col-xs-6">         
                              <div class="input-group2">
                              <label> Hasta:</label>
                              <br>
                              <br>
                              <input class="form-control" name="offer[titulo]" id="offer_titulo" type="text">
                              </div>
                         </div>
            </div>

       </div>
   
</div>

<div class="row" style="margin-top: 10px; margin-bottom: 50px;"> 
    
     
      
                <div class="form-group">
                   <div class="col-md-12 col-sm-12 col-xs-12" >
                         <div class="input-group2 textarea">
                         <br>
                          <center>
                            <button class="btn btn-success", style: "margin: 25px auto;">
                           <span class="fa fa-floppy-o"></span> Asignar</button>    
                         </center>
                         </div>
                   </div>
                 </div>

</div>
<div class="row" style="margin-top: 10px; margin-bottom: 50px;"> 
</div>

<div id="page-wrapper" style="min-height: 800px;">
<div class="col-md-10  table-responsive col-sm-8 col-xs-8" >
          
          <center>
          <div>
            <div id="calendar"></div>
          </div>
          </center>
          
</div>
</div>
