<tr>
	<td><%= area_interest.descripcion %></td>
	<td>
		<%= link_to edit_area_interest_path(area_interest, line_investigation_id: area_interest.line_investigation),class: "btn btn-info" do %>
	      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>   
	    <% end %>
	</td>
</tr>