<div id="table_pie_details" style="display: none">

  <div id="table_detail_tittle" class="row header" style="background-color: #1f4bae">
    <div class="center-align col-lg-12 text-center"><h2>Comentario de los egresados en: <strong><span id="b_detail_line"></span></strong> </h2></div>
  </div>

  <div id="table_detail">
    <table id="table_details" class="table table-hover text-center">
      <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Calificación</th>
        <th class="text-center">Comentario</th>
      </tr>
      </thead>

      <tbody class="searchable">

      </tbody>
    </table>

  </div>

</div>