<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChartPie);
</script>

<div class="form">
  <div id="chart_div"></div>
  <br>
  <%= render 'tableopinion' %>
</div>








